# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

med-app-b4426-firebase-adminsdk-fbsvc-495b75defd.json

# Ignore service account JSON key file
text-to-speech-454804-2f72607dd36e.json

# React Native specific
# React Native Packager
.expo/
.expo-shared/
*.expo
*.expo-shared
.expo-settings.json

# Metro bundler cache
metro-cache/

# Android/IntelliJ
*.iml
.gradle/
local.properties
.idea/
*.apk
*.keystore


*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcuserstate
*.xcworkspace
DerivedData/
*.hmap
*.ipa

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.jks


# Buck
buck-out/
\.buckconfig.local
\.buckconfig.macros
buck-out/
\.buckconfig.local
\.buckconfig.macros

# Miscellaneous
*.swp
*.lock
*.lockfile
*.bak
*.tmp
*.temp
*.orig
*.patch
*.rej
*.sublime-workspace
*.sublime-project
*.log
*.log.*

# Build artifacts
build/
dist/

sounds/